*{
    box-sizing: border-box;
}

.jumbotron{
    border-radius: 0px;
    min-height: 300px;
    background-size: cover;
    background: url("https://cdn.pixabay.com/photo/2018/03/30/10/06/color-3274960_960_720.jpg");
}